@import '../../styles/variables';
@import '../../styles/mixins';

.welcomePage {
  background-color: $color-white;
  min-height: calc(100vh - 76px);
}

.container {
  @include container;
}

.heroSection {
  @include text-center;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-2xl;
  flex: 1;
}

.heroTitle {
  font-size: $font-size-5xl;
  font-weight: 700;
  color: $color-black;
  margin-bottom: $spacing-xs;
  line-height: 1.3;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    font-size: $font-size-4xl;
  }
}

.heroSubtitle {
  font-size: $font-size-xl;
  color: $color-gray-text;
  margin-bottom: $spacing-md;
  font-weight: 400;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;

  @include mobile {
    font-size: $font-size-lg;
  }
}

.ctaSection {
  margin-bottom: $spacing-md;
}

.ctaButton {
  @include button-primary;
}

.loginPrompt {
  font-size: 0.95rem;
  color: $color-gray-text;
  margin: 0;
}

.loginLink {
  color: $color-black;
  text-decoration: underline;
  font-weight: 500;
  transition: color $transition-base;

  &:hover {
    color: $color-gray-hover;
  }
}

.featuresContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: $spacing-xl;
}

.featureRow {
  margin-bottom: $spacing-xl;
}

.featureCol {
  margin-bottom: $spacing-md;

  @include tablet-up {
    margin-bottom: 0;
  }
}

.featureHeading {
  font-size: $font-size-3xl;
  font-weight: 700;
  color: $color-gray-dark;
  margin-bottom: $spacing-xs;
  line-height: 1.3;

  @include mobile {
    font-size: $font-size-2xl;
  }
}

.featureText {
  font-size: $font-size-lg;
  color: $color-gray-text;
  line-height: 1.6;
  margin: 0;

  @include mobile {
    font-size: $font-size-base;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm;
}

.featureImage {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: contain;

  @include mobile {
    max-width: 100%;
  }
}

.teamSection {
  text-align: center;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
}

.teamHeader {
  margin-bottom: $spacing-md;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $spacing-sm;
}

.teamHeaderText {
  font-size: $font-size-lg;
  color: $color-gray-text;
  line-height: 1.6;
  margin: 0;

  @include mobile {
    font-size: $font-size-base;
  }
}

.teamImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm $spacing-md;
}

.teamImage {
  width: 100%;
  max-width: 630px;
  height: auto;
  object-fit: contain;

  @include mobile {
    max-width: 100%;
  }
}

.betaNote {
  @include text-center;
  padding-bottom: $spacing-xl;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.betaText {
  font-size: 0.95rem;
  color: $color-gray-text;
  margin: 0;
  font-style: italic;
}

.bottomCta {
  @include text-center;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  border-top: 1px solid $color-gray-border;
  margin-top: $spacing-md;
}

.bottomCtaTitle {
  font-size: $font-size-3xl;
  font-weight: 700;
  color: $color-black;
  margin-bottom: $spacing-lg;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;

  @include mobile {
    font-size: $font-size-2xl;
  }
}

.bottomCtaButton {
  margin-bottom: $spacing-sm;
}

